.wrapper {
  --search-boder-radius: 5.75em;
  --search-height: 2.875em;
  --search-top-spacer: 0.5625em;
  --search-btn-width: 3.25em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: 0em 0.0625em 0.0625em rgb(0 0 0 / 12%);
  background-color: var(--white);
}
.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--default-layout-horizontal-spacer);
  height: 100%;
  width: var(--default-layout-width);
  background-color: rgb(255, 255, 255);
}
.logo-link {
  display: flex;
}

.actions {
  display: flex;
  align-items: center;
}
.more-btn {
  font-size: 2rem;
  margin-left: 28px;
  padding: 4px 8px;
  background-color: transparent;
  cursor: pointer;
}
.action-btn {
  padding: 4px 12px;
  background-color: transparent;
  font-size: 2.2rem;
  color: #161823;
  cursor: pointer;
}
